h1, h2, h3 {
color: blue;
font-family:"Comic Sans MS";
}

h2{
	background-color: black;
	color: white;
	border-radius: 13px;
}

p, li, td {
	color: red;
	font-family:"Comic Sans MS";
}

td.main_content{
	border-radius: 17px;
	text-align: center;
	background-color: white;
}

