<link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans+Condensed:300|Permanent+Marker&display=swap" rel="stylesheet">

#navigation {
	font-family: 'Permanent Marker', cursive;
	padding: 20px;
}

#navigation div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	overflow: hidden;
}

#navigation div a {
	color:#f2f2f2
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navigation div a:hover {
	background-color: #ddd;
	color: black;
}

#navigation div a.active {
	background-color: #41BF0D;
	color: white;
}

body {
	font-family: 'Caveat', cursive;
}

html {
	background-color: red;
}

h1 {
	align-items: center;
}

h2 {
	align-items: center;
	text-decoration: underline
}

h3 {
	color: #FFFFFF;
	text-decoration: underline;
}

h4 {
	align-items: center;
}

h5 {
	align-items: center;
}

.main {
	display: flex;
	justify-conent: center;
	align-items: center;
	flex-direction: column;
}

#certification {
	color: #41BF0D;
	text-decoration: underline;
}

.objective, p {
	margin-left: 2em;
	align-items: center;
}

.media {
	display: flex;
	justify-content: space-evenly;
}

#title {
	font-family: 'Permanent Marker', cursive;
	color: #B54EFF;
	font-style: bold;
	margin-left: 2em;
}

#title2 {
	font-family: 'Permanent Marker', cursive;
	color: #FF22BC;
	text-align: center;
}

.media2 {
	display:flex;
	justify-content:space-evenly;
}

.third {
	color: #7000A5;
	text-decoration: underline;
}