@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans+Condensed:300|PT+Sans+Narrow|Permanent+Marker&display=swap')

#navigation {
	text-align: center;}
body {
	font-family: 'PT Sans Narrow', sans-serif;
}

html {
	background-color: #DC143C;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	text-decoration: underline
}

h3 {
	color: #FFFFFF;
	text-decoration: underline;
	text-align: center;
}

h4 {
	color: #FFFFFF;
	text-align: center;
}

h5 {
	text-align: center;
}

p {
	text-align: center;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#certification {
	color: #41BF0D;
	text-decoration: underline;
}

.objective {
	align-items: center;
}

.media {
	display: flex;
	justify-content: space-evenly;
}

#title {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #000000;
	font-weight: 700;
}

#title2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
}

.media2 {
	display:flex;
	justify-content:space-evenly;
}

.third {
	color: #7000A5;
	text-decoration: underline;
}